langchain                            ==0.1.10
langchain-community                  ==  0.0.38
langchain-core                       ==  0.1.53
langchain-text-splitters             ==  0.0.2
chromadb                             ==  1.4.1